/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.debug_dump {
	margin-top: 45px;
}

#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
}

#nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
}

#nav li a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
	
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); 
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

#nav li a:hover{
	color:#fff;
	background:#6b0c36;
	background:rgba(107,12,54,0.75); 
	text-decoration:underline;
}

#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; 
	opacity:0; 
	-webkit-transition:0.25s linear opacity; 
}

#nav ul li{
	padding-top:1px; 
	float:none;
	background:url(dot.gif);
}

#nav ul a{
	white-space:nowrap; 
	display:block;
}

#nav li:hover ul{ 
	left: -40px;
	opacity:1;
}

#nav li:hover a{
	background:#6b0c36;
	background:rgba(107,12,54,0.75); 
	text-decoration:underline;
}

#nav li:hover ul a{ 
	-webkit-transition:-webkit-transform 0.075s linear;
}

#nav li:hover ul li a:hover{ 
	background:#333;
	background:rgba(51,51,51,0.75); 
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}